*{
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background: #001;
}
.image{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 2px 1px;
}
.image h2{
    text-transform: uppercase;
}
img{
    color: #fff;
    width: 70px;
}
.menu{
    position: relative;
    background-color: #570000;
    width: 72px;
    height: 100vh;
    overflow: hidden ;
    transition: 0.5s;
}
.menu:hover{
    width: 300px;
}
ul{
    list-style: none;
    height: 95%;
}
ul li a{
    text-transform: capitalize;
    display: block;
    text-decoration: none;
    align-items: center;
    display: flex;
    padding: 10px ;
    margin: 10px 8px;
    border-radius: 20px;
    gap: 3.5rem;
    transition: 0.45s;
}
ul li a:hover, .active{
    background-color: #4d1212;
}
.active:hover{
    background-color: #3f1414;
}
.logout{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
}
ul li a i{
    font-size: 35px;
}